body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

input, label {
    margin-top: 3px;
    margin-bottom: 3px;
}

button {
    margin-top: 5px;
}

a, a:visited {
    text-decoration: none;
    color: paleturquoise;
}
